.git
.gitignore
.env
config/master.key
Makefile
.dockerignore
.env.sample
Dockerfile
docker-compose.yml
production.yml

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/test/*

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# Uncomment to reinstall all modules on build
# node_modules/
