<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <div class='row'>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <% resource.errors.full_messages.each do |message| %>
          <div><%= message %></div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
