<%= form_with(url: root_path, method: :get) do |form| %>
  <%= form.hidden_field :locale, value: I18n.locale %>
  <div class="input-group">
    <%= form.text_field :query, class: "form-control", value: params[:query] %>
    <div class="input-group-append">
      <%= form.submit t(:search), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
