<%= form_with(url: root_path, method: :get) do |form| %>
  <div class="input-group">
    <%= form.text_field :query, class: "form-control" %>
    <div class="input-group-append">
      <%= form.submit "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
