<p style="color: green"><%= notice %></p>

<h1>Produces</h1>

<div id="produces">
  <% counter = 0 %>
  <% @produces.each do |produce| %>
    <% if counter % 3 == 0 %>
      <div class="row">
    <% end %>
      <div class="col-md-4">
        <%= render produce %>
        <p>
          <%= link_to "Show this produce", produce %>
        </p>
      </div>
    <% if (counter + 1 ) % 3 == 0 %>
      </div>
    <% end %>
    <% counter += 1 %>
  <% end %>
</div>

<%= link_to "New produce", new_produce_path %>
