<h1><%= t(:new_model, model_name: @produce.model_name.human.downcase) %></h1>

<%= render "form", produce: @produce %>

<br>

<div>
  <%= link_to t(
        :back_to_models,
        models_name: @produce.model_name.human(count: 2).downcase
      ), produces_path %>
</div>
